<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Buffalo International Film Festival</title>
  <meta property="og:title" content="About- Microverse Capstone Project">
  <meta property="og:site_name" content="Buffalo International Film Festival - Microverse Capstone Project">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"
    type="text/css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <div class="language-bar d-lg-flex ms-auto justify-content-end d-none">
      <ul class="d-flex list-unstyled text-light">
        <li class="language-bar-item px-3"><img id="twitter-icon" src="../assets/twitter-logo.svg" alt="twitter"></li>
        <li class="language-bar-item px-3"><img id="facebook-icon" src="../assets/f_logo_RGB-White_58.png"
            alt="Facebook logo"></li>
        <li class="language-bar-item px-2">English</li>
        <li class="language-bar-item px-3">My Page</li>
        <li class="language-bar-item px-3">Logout</li>
      </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="navbar-brand" href="#">Buffalo Int'l Film Festival</a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Join</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sponsor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CC Campaign</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
<section
<section class="home-title d-flex flex-column p-3 p-md-5 m-md-3 w-100 justify-content-center">
  <h1 class="main-title display-1">Buffalo International Film Festival</h1>
</section>
</section>
  </main>
  <footer class="d-flex w-100 justify-content-center">
    <div class="footer-wrapper w-75">
      <img src="../assets/CreativeCommons_logo_trademark.svg" alt="Creative Commons" class="partner-logo">
      <div class="d-flex flex-column">
        <p class="cc-header">2015 Creative Commons Korea. Some Rights Reserved.</p>
        <p class="cc-content">‘크리에이티브 커먼즈(Creative Commons)’ 및 ‘크리에이티브 커먼즈 코리아(Creative Commons Korea)’는 본 이용허락의 당사자가
          아니며 저작물에 대하여 어떠한 보증도 하지 않습니다. <a
            href="https://creativecommons.org/licenses/by/2.0/kr/">https://creativecommons.org/licenses/by/2.0/kr/</a>
        </p>
      </div>
    </div>
  </footer>
</body>

</html>