<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BIFF 2021 | Buffalo International Film Festival</title>
  <meta property="og:title" content="BIFF 2021 - Microverse Capstone Project">
  <meta property="og:site_name" content="Buffalo International Film Festival - Microverse Capstone Project">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"
    type="text/css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header class="mb-1">
    <div class="language-bar d-lg-flex ms-auto justify-content-end d-none">
      <ul class="d-flex list-unstyled text-light">
        <li class="language-bar-item px-3"><img id="twitter-icon" src="../assets/twitter-logo.svg" alt="twitter"></li>
        <li class="language-bar-item px-3"><img id="facebook-icon" src="../assets/f_logo_RGB-White_58.png"
            alt="Facebook logo"></li>
        <li class="language-bar-item px-2">English</li>
        <li class="language-bar-item px-3">My Page</li>
        <li class="language-bar-item px-3">Logout</li>
      </ul>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white menu">
      <div class="container-fluid col-12 col-md-10">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="navbar-brand col-4" href="#">Buffalo Int'l Film Festival</a>
          <ul class="navbar-nav ms-auto d-flex align-items-baseline col-8 justify-content-end">
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link active" aria-current="page" href="../views/about.html">About</a>
            </li>
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link" href="#">2021 Lineup</a>
            </li>
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link" href="#">Media</a>
            </li>
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item mx-lg-2 mx-xl-3 mx-xxl-4">
              <a class="nav-link buy-pass" href="#">Buy Pass</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main id="base-style">
    <section class="home-title d-flex flex-column justify-content-center align-items-center pt-3 header-bg">
      <div class="row d-flex justify-content-center">
        <h1 class="main-title display-1 col-12 col-md-10">Buffalo International Film Festival</h1>
        <div class="col-12 col-md-10">
          <p class="main-subtitle p-1 py-md-3 my-md-1 col-12 col-md-8 col-lg-6">We provide Western New York audiences
            and visitors
            access to the
            very best offerings in contemporary local,
            national, and world cinema.</p>
        </div>
        <h2 id="date" class="py-1 py-md-3 my-md-1 col-12 col-md-10">2021.10.7(THU) ~ 11(SUN)</h2>
        <p class=" col-12 col-md-10">@ North Park Theatre, Hallwalls Contemporary Art Center, and more</p>
      </div>
    </section>
    <section
      class="main-program text-light d-flex flex-column p-3 p-md-5 justify-content-center row align-items-center m-0">
      <div class="program-title d-flex justify-content-center py-4 flex-column align-items-center">
        <h3>Main Program</h3>
        <hr class="divider">
      </div>
      <div class="d-flex flex-column row-cols-lg-5 flex-lg-row gx-md-5 col-12 col-xl-10">
        <div class="col px-lg-1 d-flex flex-lg-column card-column">
          <div class="row align-baseline program-card my-2 py-3 h-100">
            <div class="col-2 col-lg-12 d-flex justify-content-center"><img src="../assets/01-lecture.png"
                class="card-img-top custom-card-image" alt="...">
            </div>
            <div class="col-3 col-lg-12">
              <h3 class="card-title text-lg-center">Lecture</h3>
            </div>
            <div class="col-7 col-lg-12">
              <p class="card-text text-lg-center">Interview with Producer and Writer Paul Papadeas by Alycia Ripley</p>
            </div>
          </div>

        </div>
        <div class="col px-lg-1 d-flex flex-lg-column card-column">
          <div class="row align-baseline program-card my-2 py-3 h-100">
            <div class="col-2  col-lg-12 d-flex justify-content-center"> <img src="../assets/02-cc-exhibition.png"
                class="card-img-top  custom-card-image" alt="..."></div>
            <div class="col-3  col-lg-12">
              <h3 class="card-title text-lg-center">Exhibition</h3>
            </div>
            <div class="col-7  col-lg-12">
              <p class="card-text text-wrap text-lg-center">15th Annual Buffalo Int’l Film Festival Announces Lineup In
                Theaters +
                Online
                October 7–11, 2021</p>
            </div>
          </div>
        </div>
        <div class="col px-lg-1 d-flex flex-lg-column card-column">
          <div class="row program-card my-2 py-3  h-100">
            <div class="col-2 col-lg-12 d-flex justify-content-center"><img src="../assets/03-forum.png"
                class="card-img-top  custom-card-image" alt="...">
            </div>
            <div class="col-3  col-lg-12">
              <h3 class="card-title text-lg-center">Forum</h3>
            </div>
            <div class="col-7  col-lg-12">
              <p class="card-text text-wrap text-lg-center">This panel focuses on two of the films in this year's
                festival shot on
                location
                in Buffalo and explores place in story and cinema.</p>
            </div>
          </div>
        </div>
        <div class="col px-lg-1 d-flex flex-lg-column card-column">
          <div class="row program-card my-2 py-3  h-100">
            <div class="col-2  col-lg-12 d-flex justify-content-center"><img src="../assets/04-opportunities.png"
                class="card-img-top  custom-card-image" alt="..."></div>
            <div class="col-3  col-lg-12">
              <h3 class="card-title text-lg-center">Workshop</h3>
            </div>
            <div class="col-7  col-lg-12">
              <p class="card-text text-wrap text-lg-center">Join in on the action! Add your name to our volunteer list
                and help with
                our
                festival and other special events throughout the year.</p>
            </div>
          </div>
        </div>
        <div class="col px-lg-1 d-flex flex-lg-column card-column">
          <div class="row program-card my-2 py-3 h-100">
            <div class="col-2  col-lg-12 d-flex justify-content-center"> <img src="../assets/05-buy-pass.png"
                class="card-img-top  custom-card-image" alt="..."></div>
            <div class="col-3  col-lg-12">
              <h3 class="card-title text-lg-center">Bison Pass</h3>
            </div>
            <div class="col-7  col-lg-12">
              <p class="card-text text-wrap text-lg-center">Reserve tickets to theatrical screenings (October 8-11) and
                virtual
                screenings(on view Oct 7-11).</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none w-100 justify-content-center py-4 d-lg-flex">
        <a href="#" class="program-link text-uppercase text-light">See The Whole Schedule</a>
      </div>
      <div class="d-flex w-100 justify-content-center py-4 d-lg-none">
        <button type="button" class="btn btn-danger p-4 fs-2 bo col-8">Buy Bison Pass</button>
      </div>
    </section>

    <section class="partner py-5" id="partner">
      <h3 class="d-flex justify-content-center text-light partner-text">Partners</h3>
      <div class="d-flex justify-content-center align-items-center">
        <hr class="divider">
      </div>

      <div class="row row-cols-auto gx-5 d-flex justify-content-center gap-3 gap-lg-4">
        <div class="col">
          <img alt="NYSCA" class="partner-logo"
            src="https://images.ctfassets.net/5d2t8cwaye54/6zTgRmypTfnjaSLIDlxWjT/89bcf8e325faf28839f0e4f710303b1f/NYSCA-logo-2.jpg?w=500&amp;h=500&amp;fm=jpg">
        </div>
        <div class="col">
          <img alt="North Park Theatre" class="partner-logo"
            src="https://images.ctfassets.net/5d2t8cwaye54/6IE1mWiVagKayUqYSisekc/665c20cdd70d0921cdb175b2ce1b67be/northpark-Logo-Black.png?w=500&amp;h=500&amp;fm=jpg">
        </div>
        <div class="col">
          <img alt="Consulate General of Canada in NY" class="partner-logo"
            src="https://images.ctfassets.net/5d2t8cwaye54/ZDyLMJPhHgQ0yhcJslufj/f37505b825047a5b1de119df6781ac2f/Canwordmark_colour.jpg?w=500&amp;h=500&amp;fm=jpg">
        </div>
        <div class="col">
          <img alt="Albright-Knox Art Gallery" class="partner-logo"
            src="https://images.ctfassets.net/5d2t8cwaye54/1kreM04W2OGEU6skQI4wsk/efbab9e346aa935f8713a369609b3e4a/Albright-Knox_Black.png?w=500&amp;h=500&amp;fm=jpg">
        </div>
        <div class="col">
          <img alt="Arts Access Program" class="partner-logo"
            src="https://images.ctfassets.net/5d2t8cwaye54/4I7wJLwCp6IvWuSx4vH4Xk/787ab96e1049475c963144adadbe6897/ArtsAccess-ASI.jpg?w=500&amp;h=500&amp;fm=jpg">
        </div>
      </div>
    </section>
  </main>
  <footer class="w-100 footer py-2 d-flex justify-content-center align-items-baseline">
    <div class="footer-wrapper d-flex row justify-content-center">
      <img src="../assets/CreativeCommons_logo_trademark.svg" alt="Creative Commons" class="cc-logo col-4">
      <div class="d-flex py-5 flex-column col-8">
        <p class="cc-header">2015 Creative Commons Korea. Some Rights Reserved.</p>
        <p class="cc-content">‘크리에이티브 커먼즈(Creative Commons)’ 및 ‘크리에이티브 커먼즈 코리아(Creative Commons Korea)’는 본 이용허락의 당사자가
          아니며 저작물에 대하여 어떠한 보증도 하지 않습니다. <a
            href="https://creativecommons.org/licenses/by/2.0/kr/">https://creativecommons.org/licenses/by/2.0/kr/</a>
        </p>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <script src="../js/script.js"></script>
</body>

</html>